@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-brand: #0d9488;
  --color-brand-dark: #0f766e;
  --color-brand-light: #ccfbf1;
}
